<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
    <div class="col-span-4 m-10">
        <div class="w-full h-full bg-white p-6 rounded-lg shadow-lg">
            <h1 class="text-2xl font-bold mb-10">Welcome back!</h1>
            <form>
                <div class="row">
                    <label class="block text-gray-700 text-sm font-bold mb-5 mt-5" for="username">Username</label>
                    <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="username" #username required>
                </div>
                <div class="row">
                    <label class="block text-gray-700 text-sm font-bold mb-5 mt-5" for="password">Password</label>
                    <input type="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="password" #password required>
                </div>
                <div class="flex items-center justify-between mt-5 mb-5 float-right">
                    <a class="m-5 no-underline hover:underline text-blue" routerLink="/join">No account yet? Join us now!</a>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" [disabled]="loading" type="submit">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Spill Some Tea
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>