.chat-messages-show-container{
    background: #c3c3c3;
    display: flex;
    flex-direction: column;
    overflow: auto;
 }
 .chat-messages-show-list {
    list-style-type:none;
    margin: 0;
    padding: 0;
 }
 .chat-messages-create-container{
    background: #616161;
    height: 100px;
    display: flex;
    justify-content: center;
    position:fixed;
    bottom:0px;
    width:100%;
 }
 .chat-messages-create-input {
    padding: 12px;
    margin: 29px 30px;
    flex:2
 }
 .chat-messages-create-button {
    height: 45px;
    margin: auto 40px;
    width: 100px;
 }