<div class="chat-messages">
    <div class="chat-messages-show-container h-screen">
      <ul class="chat-messages-show-list" id="message-list"></ul>
    </div>
    <div class="chat-messages-create-container"> 
      <input class="chat-messages-create-input" type="text" [(ngModel)]="message" (keyup.enter)="SendMessage()">
      <button  class="chat-messages-create-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="SendMessage()"> Send </button>
    </div>
 </div>