<a [routerLink]="['/room/' + room.id]" [state]="{ room: room }">
    <div class="w-full bg-white p-6 rounded-lg shadow-lg mb-10">
        <div class="row">
            <span class="block text-gray-700 text-sm font-bold mb-2">{{ room.name }}</span>
        </div>
    </div>
</a>
