<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
    <div class="col-span-4 m-10">
        <div class="w-full h-full bg-white p-6 rounded-lg shadow-lg">
            <h1 class="text-2xl font-bold mb-10">Create a new room</h1>
            <form>
                <div class="row">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="room_name">Room Name</label>
                    <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="room_name" (keyup.enter)="AddRoom(roomName)" #roomName required>
                </div>
                <div class="flex items-center justify-between mt-5 mb-5 float-right">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" (click)="AddRoom(roomName)">
                        Create Room
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>