<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
    <div class="col-span-4 m-10">
        <h1 class="text-2xl font-bold mb-10">Rooms</h1>
        <room-list-item *ngFor="let room of rooms" [room]="room"></room-list-item>
    </div>
</div>